{% if logged%}
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        <ul>
                            <li><a href="#"><i class="fas fa-user"></i> {{user.name}}</a></li>
                            <li>
                                <a href="/orders"> <i class="fas fa-shopping-cart"></i> Order List</a>
                            </li>
                            <li><a href="/logout"><i class="fas fa-times"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else%}
<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{%endif%}
<!-- End header area -->